<appSettings>
    <!-- By default this sample assumes that you will use the storage emulator, available with the Azure SDK. If you have an Azure subscription,
         you can create a storage account and run against Azure Storage by commenting out the connection string below and using the 
         second connection string. To do so, insert your storage account name and key in the placeholders in the line below. -->
    <!--<add key="StorageConnectionString" value="UseDevelopmentStorage=true;" />-->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=kryptos;AccountKey=zI8A+aiGaDQ/fSDnytsreFw4H/9dky6OhtEPGfO3/vGEuFYOlzOrRZFgdogTkO6TBBk88J7JijH7rYkhRV0CKg==;EndpointSuffix=core.windows.net" />
  
  
  </appSettings>