@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h1>Download Link</h1>
    <p>Download this file, let's see where it comes from, <a href="~/downloads/doc.docx">Doc Download</a></p>
</div>
<div>
    <a href=@ViewBag.URL>Download file</a>
</div>